<md-dialog aria-label="Shubham" ng-controller="dashboardCtr">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Phones</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/design/ic_close_48px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        {{presentData.image.large}}
        <!-- <img src="assets/images/galaxy-s5-large.jpg"> -->
      </div>
    </md-dialog-content>

  </form>
</md-dialog>
