<div class="toolbarUsage">
  <md-toolbar id="toolColor">
    <div class="md-toolbar-tools">

      <md-button class="iconButton" aria-label="Settings" ng-click="toggleLeft()" class="md-raised">
        <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/design/ic_menu_48px.svg" class="toolbarMenuColor"></md-icon>
      </md-button>

      <h2 flex="" md-truncate="" id="toolbarNameColor">MOBILE</h2>

      <md-button class="iconButton" aria-label="Favorite">
        <md-icon md-svg-icon="bower_components/material-design-icons/action/svg/design/ic_favorite_outline_48px.svg" class="favouriteIcon"></md-icon>
      </md-button>

      <md-button class="iconButton" aria-label="More">
        <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/design/ic_more_vert_48px.svg" class="my-icon"></md-icon>
      </md-button>

    </div>
  </md-toolbar>
</div>
