<div class="toolbarUsage" >

  <md-toolbar id="toolColor" style="position: fixed;">

    <div class="md-toolbar-tools">

      <md-button class="iconButton"  ng-click="toggleLeft()">
        <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/design/ic_menu_48px.svg" class="toolbarMenuColor"></md-icon>
      </md-button>

      <h2 flex="" md-truncate="" id="toolbarNameColor">MOBILE</h2>

      <md-button class="iconButton" aria-label="Favorite" ng-click="showFavorite()">
        <md-icon md-svg-icon="bower_components/material-design-icons/action/svg/design/ic_favorite_48px.svg" class="favouriteIcon"></md-icon>
      </md-button>

      <md-button class="iconButton" aria-label="More" ng-click="logout()" style="color:grey">Logout
        <md-icon md-svg-icon="bower_components/material-design-icons/notification/svg/design/ic_vpn_lock_48px.svg" class="my-icon"></md-icon>
      </md-button>

    </div>

  </md-toolbar>

</div>
